/* Geral */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #2c2c2c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.divider {
    border: 0;
    height: 2px;
    background: #f1c40f;
    margin: 30px 0;
}

.swiper-container {
    margin: 20px 0;
    width: 100%;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}


.product {
    width: 300px; /* Largura fixa */
    min-height: 200px; /* Altura mínima */
    background-color: #3c3c3c;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.product h4 {
    color: #f1c40f;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.product p {
    margin: 8px 0;
    line-height: 1.4;
}

.product button {
    margin-top: auto;
    width: 100%;
}

/* Container para os produtos */
.swiper-container {
    padding: 20px;
    margin: 0 auto;
}

.swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.swiper-slide {
    height: auto !important;
    display: flex;
    justify-content: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .product {
        width: 250px;
    }
}

@media (max-width: 480px) {
    .product {
        width: 220px;
    }
}

/* Título e Subtítulo */
h1, h2, h3 {
    color: #f1c40f;
    margin-top: 0;
    text-align: center;
}

/* Estilo do Botão */
button {
    background-color: #f39c12;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}

/* Estilo do botão Admin */
.admin-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

/* Carrinho */
.cart {
    background-color: #3c3c3c;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .swiper-container {
        width: 100%;
    }

    .product {
        min-width: 150px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 1.5em;
    }

    .admin-button {
        justify-content: center;
    }

    .product {
        min-width: 100%;
        padding: 10px;
    }

    .cart button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2, h3 {
        font-size: 1.4em;
    }

    .product {
        padding: 10px;
        font-size: 0.9em;
    }

    button {
        width: 100%;
        padding: 8px;
    }
}
